.nav-panel-main-container {
  background-color: #fff;
  height: 100vh;
  width: 150px;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  padding: 20px 0;
}

.nav-links-container {
  list-style-type: none;
  padding: 0 0 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

a.nav-link {
  width: 100%;
  padding: 12px 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #000;
  border-bottom: 2px solid transparent;
  transition: border-color 0.5s ease;
  cursor: pointer;
}

a.nav-link:hover {
  color: #fff;
}

a.nav-link:hover,
a.nav-link:focus,
a.nav-link:active {
  background-color: #97bf0f;
}
