body {
  font-family: "Poppins", sans-serif;

  /* overflow: hidden; */
}

.popup-message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #96bf0fe1;
}

.popup-message p {
  padding: 20px;
  background-color: white;
  border-radius: 50px;
  border: 2px solid #96bf0fe1;
  font-weight: 900;
}

@media (min-width: 768px) {
  .popup-message {
    padding: 20px 20px 20px 10rem;
  }
}

.reserve-motorcycle-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.reserve-main-container {
  width: 100%;
  padding: 1rem;
  min-height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  background-image:
    linear-gradient(0deg, #96bf0fe1, #96bf0fe1),
    url(/src/images/bmw-e-power-bike.png);
  color: white;
  background-position: center;
  background-size: cover;
}

.reserve-main-container .search-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: white;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid white;
}

.reserve-main-container h1 {
  color: white;
  font-weight: 900;
}

.reserve-main-container p {
  font-weight: 500;
}

.reserve-main-container .reserve-page-divider {
  border: 0.5px solid white;
  width: calc(100% - 100px);
}

@media (min-width: 768px) {
  .reserve-main-container {
    padding: 1rem 15%;
    min-width: calc(100% - 10rem);
    min-height: 100vh;
  }

  .reserve-motorcycle-page {
    display: grid;

    /* flex-direction: row; */

    /* align-items: center;
    justify-content: center; */
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 100%;
  }
}

.reserve-main-container > p {
  color: white;
}

.hidden {
  display: none;
}

.reserve-form {
  width: 320px;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.reserve-form .error-messages {
  padding: 10px;
  width: 100%;
  color: rgba(255, 0, 0, 0.76);
  font-weight: 900;
}

.reserve-form input,
.reserve-form select {
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  color: white;
  border: 2px solid white;
  background-color: #96bf0fe1;
}

.reserve-form input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.reserve-form input[type="submit"] {
  color: #96bf0fe1;
  background-color: white;
  border: 1px solid #96bf0fe1;
}

.reserve-form select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background:
    url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  padding: 10px 32px 10px 10px;
  background-color: #96bf0fe1;
  background-position: calc(100% - 12px) center;
}

.reserve-form option {
  background-color: white;
  color: #030303;
}
